<h1>Information Page</h1>
<div class="container row">
            <div class="jumbotron col-sm-13 pull-center">
                <div class = "personal-info-content">
                    <main>
                        <h3><b>Usertype :</b> {{userTypeCheck}}</h3><br>
                        <h3><b>Here is your user name:</b> {{user}}</h3><br>
                        <h3><b>Here are your appointments:</b></h3>
                        
                        {{#each orderInfor}}
                        <h3>{{this.Name}} : Date: {{this.date}} and Time:{{this.time}}</h3>
                        {{/each}}
                        

                        {{#if userIsStudent }}
                        <br><h3><b>Advisors Available:</b></h3>
                        
                        {{#each Advisors}}
                        <h3><a href = '/booking/{{this._id}}'>{{this.realName}}</h3>
                        {{/each}}
                        
                        {{/if}}
                    </main>
                </div>
            </div>        

    <a href="/logout"> Logout </a>


</div>

